* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: aliceblue;
}

h2 {
    text-align: center;
    font-size: 3em;
    color: hotpink;
    margin: 15px 0;
}

.btn-group {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    position: relative;
}

button {
    width: 150px;
    height: 50px;
    color: white;
    font-size: 1.2em;
    border: transparent;
    border-radius: 30px;
    cursor: pointer;
}

.yes-btn {
    background-color: hotpink;
}

.no-btn {
    background-color: blue;
    position: absolute;
}

img {
    display: block;
    margin: 100px auto;
}
